*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    width: 100vw;
    height: 100vh;
}

.card {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    border-radius: 1.25em;
    max-width: 300px;
}

.card img {
    width: 100%;
    border-radius: 1em;
    margin-bottom: 1.5em;
}

.card h1 {
    font-weight: 700;
    font-size: 1.35em;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.card p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin: 1em 0;
}

@media only screen and (max-width: 320px) {
    .card {
        max-width: 280px;
    }
    .card h1 {
        font-size: 1.15em;
    }

    .card p {
        font-size: .80em;
    }
    
}
